this is the show page

<h3><%= @question.title %></h3>
<h5><%= @question.content %></h5>
<p><%= @question.score %></p>
<% if current_user.hasnt_voted?("Question", @question.id) %>
<%= form_for [@question,@vote] do |f|%>
<%= f.hidden_field :value %>
<%= hidden_field_tag 'value', 1 %>
<%= hidden_field_tag 'vote_type', "question" %>
<%= f.submit "upvote" %>
<%end %>
<%= form_for [@question,@vote] do |f|%>
<%= f.hidden_field :value %>
<%= hidden_field_tag 'value', -1 %>
<%= hidden_field_tag 'vote_type', "question" %>
<%= f.submit "downvote" %>
<%end %>
<% end %>

<ul>
<% @question.comments.each do |comment| %>
  <li>
    <%= comment.content %>
    <%= comment.user.username %>
  </li>
<% end %>
</ul>
<%# if current_user.owns? %>

<%= form_for [@question, @comment] do |f|%>
<%= hidden_field_tag :comment_type, "Question" %>
<%= f.label :question_comment %>
<%= f.text_area :content %>
<%= f.submit 'submit' %>
<% end %>



<%= render @answers %>


<%= form_for [@question, @answer] do |f| %>
<%= f.label :content %>
<%= f.text_area :content %>
<%= f.submit "Submit!" %>
<% end %>

<%= button_to "Delete This Question", {action:"destroy",id: @question.id}, method: :delete, data: {confirm: "Are you sure you want to delete this? It might be helpful for other people later."} %>
