<h2><%= @user.username %></h2>

<div>
  <%= @user.questions.count %> Question<%= @user.questions.count == 1 ? '' : 's'%>,
  <%=@user.answers.count %> Answer<%= @user.answers.count == 1 ? '' : 's' %>
</div>

<div>Member since <%= @user.created_at.strftime("%B %d, %Y")%></div>

<div>
  <% if @user == current_user %>
    <%= link_to 'edit profile', edit_user_path %>
  <% end %>
</div>

<div>
  <h3><%=@user.username%>'s Questions</h3>
  <% if !@user.questions.empty? %>
    <ol>
      <% @user.questions.each do |question| %>
        <li>
          <h3><%= link_to question.title, question %></h3>
          <%= question.content %>
        </li>
      <% end %>
    </ol>
  <% else %>
    <div><%= @user.username%> hasn't submitted any questions.</div>
  <% end %>
</div>
