<div>
<%= answer.content %><br>
--<%= answer.user.username %>
<%= answer.score %>

</div>

<% if current_user.hasnt_voted?("Answer", answer.id) %>
<%= form_for [@question,answer,@vote] do |f|%>
<%= f.hidden_field :value %>
<%= hidden_field_tag 'value', 1 %>
<%= hidden_field_tag 'vote_type', "answer" %>
<%= f.submit "upvote" %>
<%end %>
<%= form_for [@question,answer,@vote] do |f|%>
<%= f.hidden_field :value %>
<%= hidden_field_tag 'value', -1 %>
<%= hidden_field_tag 'vote_type', "answer" %>
<%= f.submit "downvote" %>
<%end %>
<% end %>

<ul>
<% answer.comments.each do |comment| %>
<li><%= comment.content %></li>
<li><%= comment.user.username %></li>
<% end %>
</ul>


<%= form_for [@question, answer, @comment] do |f|%>
<%= hidden_field_tag :comment_type, 'Answer'  %>
<%= f.label :comment %>
<%= f.text_area :content %>
<%= f.submit 'submit' %>
<% end %>

<%= button_to "Delete This Answer", question_answer_path(@question.id, answer.id), method: :delete, confirm: "shaqfu" %>
