<!DOCTYPE html>
<html>
<head>
  <title>ShaqOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <nav>
      <ul>
        <li><%= link_to 'home', root_path%></li>
        <% if current_user %>
        <li><%= link_to 'logout' %></li>
        <li><%= link_to 'profile', current_user %></li>
        <% else %>
        <li><%= render 'session/new' %></li>
        <li><%= link_to 'sign up', new_user_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>
<% if flash %>
  <% flash.each do |name, message| %>
    <div><%= message %></div>
  <% end %>
<% end %>
<%= yield %>

</body>
</html>
